body,html{
  width:100%;
  height: 100%;
  margin: 0;
  padding: 0;
  background: #000;
}
#wrapper{
  position: relative;
  width: 90%;
  height: 600px;
  margin: 0 auto;
  border: 1px solid black;
}
@media (max-width: 600px) {
  #wrapper{
    width: 100%;
    height: 50%;
  }
}
img{
  width: 100%;
  height: 100%;
  position: absolute;
}
.button{
  position: absolute;
  top: 50%;
  width:40px;
  height: 40px;
  border: 0;
  background: #ddd;
  color: #000;
  border-radius: 50%;
  cursor: pointer;
}
.button:hover{
  opacity: 0.7;
  transition: opacity 0.7s;
}
#button2{
  position: relative;
  float: right;
}
p{
  color: #fff;
  text-align: center;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
