* {
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Open Sans', Arial, sans-serif;
  font-weight: 700;
}
.landing-page {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #ff3915;
  overflow: hidden;
}
.wrapper {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}
.fly-text {
  list-style: none;
}
.fly-text li {
  display: inline-block;
  margin-right: 30px;
  font-size: 5em;
  color: #fff;
  opacity: 1;
  transition: all 2s ease;
}
li:last-child {
  margin-right: 0;
}


img{
  width: 40px;
  height: 40px;
}
.second{
   margin-left:-34px;
 }
.enter-button {
  display: block;
  text-align: center;
  font-size: 1em;
  text-decoration: none;
  text-transform: uppercase;
  color: #000;
  opacity: 1;
  transition: all 1s ease 2s;
}
/* hiding all the content and reveal it with setTimeout(delay) */
.landing-page.content-hidden .fly-text li {
  opacity: 0;
}
.landing-page.content-hidden li:nth-child(1) {
  transform: translate3d(-100px, 0, 0);
}
.landing-page.content-hidden li:nth-child(2) {
  transform: translate3d(100px, 0, 0);
}
.landing-page.content-hidden .enter-button {
  opacity: 0; transform: translate3d(0, -30px, 0);
 }

/* For big devices */
@media (min-width: 800px) {
    .landing-page .wrapper .fly-text li {
      font-size: 10em;
      margin: 0;
    }
    .landing-page .wrapper .enter-button {
      font-size: 1.5em;
     }
    /* removing the margin left */
    .second{
      margin-left:-4.5px;
    }
    img{
      width:200px;
      height:200px;
    }
}
